<html>
<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>

    <p>Handle: <%= userDetails.handle %></p>
    <p>Rating: <%= userDetails.rating %></p>

    <a href="/profile/submissions/<%= userDetails.handle %>">Submissions</a>

    <%- include('./partials/footer.ejs'); %>
</body>
</html>